/*----------------------------------------------*/
/* Project */
/*----------------------------------------------*/
.build-project .page-title h1 {
	float: none;
}

.build-project #other-build-projects {
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/*----------------------------------------------*/
/* Build */
/*----------------------------------------------*/
#project-slider #build-slider .build-slider-div {
	width: 960px;
}

#project-slider #build-slider .build-slider-div img {
	width: 100%;
	height: auto;
}

/*----------------------------------------------*/
/* GENERICS */
/*----------------------------------------------*/

/*----------------------------------------------*/
/* Portfolio fill-width */
/*----------------------------------------------*/
ul.portfolio-fill-width .portfolio-item img {
	max-width: 100%;
	height: auto;
}

/*----------------------------------------------*/
/* Portfolio img fill-height & center */
/*----------------------------------------------*/

.portfolio-item img.portfolio-fill-height {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}